// HEADER
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;

    .logo--image {
        height: 8rem;
        width: 8rem;
    }

    &--list {
        display: flex;
    }

    &--item:not(:last-child) {
        margin: 0 2.5rem;
    }

    &--link {
        color: inherit;
    }

    .menu {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        display: none;
    }
}

.hero {
    padding: 8rem 0;
    position: relative;

    &__text-box {
        max-width: 75rem;
        margin: 0 auto;
        text-align: center;

        .description {
            max-width: 80%;
            margin: 0 auto;
        }
    }

    &__app-download {
        max-width: 35rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 6rem;

        button {
            background-color: $color-4;
            border: none;
            cursor: pointer;
            outline: none;
            border-radius: 3px;
            height: 5rem;
            width: 16rem;
            padding: 2.9rem 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: inherit;

            div {
                display: flex;
                flex-direction: column;
                color: $color-13;
            }

            span {
                font-size: 1.35rem;
            }

            .store {
                font-family: $gilroyRegular;
                font-size: 1.4rem;
                font-weight: 600;
                letter-spacing: .5px;
            }
        }
    }

    &__influencer {
        display: block;
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
    }

    .davido {
        background-image: url("../../images/davido.png");
        border: 3px solid rgba(178, 155, 195, 0.5);
        // top: 35%;
        // left: 10%;
        top: 16.5rem;
        left: 8.5rem;
    }

    .prosper {
        background-image: url("../../images/prosper.png");
        border: 3px solid #C0F8D1;
        top: 25%;
        right: 5%;
    }

    .sola {
        background-image: url("../../images/sola.png");
        border: 3px solid rgba(0, 86, 191, 0.2);
        bottom: -6%;
        left: 15%;
    }

    .moe {
        background-image: url("../../images/moe.png");
        border: 3px solid rgba(242, 214, 157, 0.5);
        bottom: -3%;
        right: 13%;
    }
}