// SECTIONS
main {
    margin: 3rem 0;
    padding: 12rem 0;
}
.section {
    display: flex;
    justify-content: space-between;
    padding: 7rem 0;

    &__text-box {
        flex-basis: 48%;
        padding: 5rem 3rem;
    }

    &__image-box {

        img {
            width: 100%;
        }
    }

    .description {
        line-height: 1.8;
    }
}

.zero {
    img {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
}

.better {
    flex-direction: column;
    align-items: center;

    .section__text-box {
        text-align: center;
    }

    .description {
        max-width: 70%;
        margin: 0 auto;
    }

    img {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
}

.build {
    display: flex;
    justify-content: space-between;
    background-color: $color-4;
    border-radius: 20px;
    color: $color-13;
    margin-top: 4rem;
    padding: 7rem 5rem;

    h2 {
        color: $color-13;
    }

    button {
        background-color: $color-8;
        margin: 0 1.2rem;
    }

    div:not(:first-child) {
        margin: 0;
    }
}